.hljs {
  display: block;
  overflow-x: auto;
  padding: 1.25rem 1.5rem 2rem;
  color: #CECECE;
  background: #0E1415;
}

.hljs-comment {
  color: #DFDF8E;
}

.hljs-string,
.hljs-meta-string,
.hljs-regexp {
  color: #95CB82;
}

.hljs-number,
.hljs-literal {
  color: #CC8BC9;
}

.hljs-title {
  color: #71ADE7;
}

.hljs-deletion {
  background-color: #ffdddd;
  color: #434343;
}

.hljs-addition {
  background-color: #ddffdd;
  color: #434343;
}
